# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
.env.staging
t.txt


# Editor directories and files
.vscode/*
./backend/*
backend/venv/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
